{% extends 'core/crudapi/base.html'%}

{% load static %}

{% block estilo %}
    <link rel="stylesheet" href="{% static 'core/css/periodista.css' %}" />

{% endblock %}

{% block content %}
    <main>
      <div class="container">
        <h1 class="journalist-name">{{perfil_periodista.id_usuario.first_name}} {{perfil_periodista.id_usuario.last_name}}</h1>
      </div>
      <div class="journalist-card container">
        <img src="{{perfil_periodista.foto_perfil}}" class="journalist-photo" alt="" />
        <div class="journalist-description">
          <p class="description">
            {{perfil_periodista.descripcion}}
          </p>
          <p class="description">Cantidad de noticias ingresadas: {{cantidad_noticias}}</p>
        </div>
      </div>
      <div class="separator"></div>

      <!-- Contenedor de Noticias -->
      <div class="news-container container">
        <!-- Noticia 1-->

        {% for noticia in lista_noticias %}
        <div class="news">
          <a href="{% url 'noticia_api' noticia.id %}">
            <img class="news-banner" src="{{noticia.portada}}" alt=""/>
          </a>
          <div class="news-text">
            <a href="{% url 'noticia_api' noticia.id %}">
              <h2 class="news-title">{{noticia.titulo}}</h2>
            </a>
            <p class="news-description hide">
              por
              <a href="{% url 'periodista_api' perfil_periodista.id_usuario.id %}" class="journalist">{{noticia.id_autor.first_name}} {{noticia.id_autor.last_name}}</a>
            </p>
            <p class="news-description">{{noticia.fecha}}</p>
          </div>
        </div>
        {% endfor %}

      </div>

      <nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
        <ul class="pagination">
           {% if lista_noticias.has_previous %}
           <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
           <li class="page-item"><a class="page-link" href="?page={{ lista_noticias.previous_page_number }}">Anterior</a></li>
           {% endif %}
  
           {% for num in lista_noticias.paginator.page_range %}
           {% if lista_noticias.number == num %}
           <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
           {% elif num > lista_noticias.number|add:'-5' and num < lista_noticias.number|add:'5' %}
           <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
           {% endif %}
           {% endfor %}
  
           {% if lista_noticias.has_next %}
           <li class="page-item"><a class="page-link" href="?page={{ lista_noticias.next_page_number }}">Siguiente</a></li>
           <li class="page-item"><a class="page-link" href="?page={{ lista_noticias.paginator.num_pages }}">Última &raquo;</a></li>
           {% endif %}
        </ul>
     </nav>
    </main>
    {% endblock %}
