{% extends 'core/base.html'%}

{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'core/css/contacto.css' %}">
{% endblock %}

{% block content %}
  <main class="container">
    <p>{{mensaje}}</p>
    <h1 class="main-title">Formulario de contacto</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre_completo" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" name="correo" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Asunto</label>
        <input type="text" class="form-control" id="exampleFormControlInput3" name="asunto" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name="mensaje" required></textarea>
      </div>
      <div class="buttons-container">
        <input type="submit" class="btn btn-success" value="Enviar mensaje">
      </div>
    </form>
  </main>
  {% endblock %}
