{% extends 'core/base.html'%}

{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'core/css/contacto.css' %}">
{% endblock %}

{% block content %}
  <main class="container">
    <h1 class="main-title">Formulario de contacto</h1>
    <form>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Asunto</label>
        <input type="text" class="form-control" id="exampleFormControlInput3">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
      </div>
      <div class="buttons-container">
        <button type="button" class="btn btn-success">Enviar mensaje</button>
        <button type="button" class="btn btn-secondary">Cancelar envío</button>
      </div>
    </form>
  </main>
  {% endblock %}
