{% extends 'core/base.html'%}

{% load static %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'core/css/lista_periodistas.css' %}">
{% endblock %}

{% block content %}
<main>
  <h1 class="titulo-principal">Periodista</h1>

  <div class="card-container container">

    <!-- Periodista 1-->
    {% for perfil_periodista in lista_perfil_periodistas %}
    <div class="card" >
      <img class="image-card" src="{{perfil_periodista.foto_perfil.url}}" alt="">
      <div class="card-body">
        <h5 class="card-title">{{perfil_periodista.id_usuario.nombre_completo}}</h5>
        <p class="card-text">{{perfil_periodista.descripcion}}</p>
        <a href="{% url 'periodista' perfil_periodista.id_usuario.id %}" class="btn btn-primary">Ver noticias</a>
      </div>
    </div>
    {% endfor %}
    
  </div>
</main>
{% endblock %}
