{% extends 'core/base.html'%}

{% load static %}

{% block estilo %}
    <link rel="stylesheet" href="{% static 'core/css/periodista.css' %}" />

{% endblock %}

{% block content %}
    <main>
      <div class="container">
        <h1 class="journalist-name">{{perfil_periodista.id_usuario.nombre_completo}}</h1>
      </div>
      <div class="journalist-card container">
        <img src="{{perfil_periodista.foto_perfil.url}}" class="journalist-photo" alt="" />
        <div class="journalist-description">
          <p class="description">
            {{perfil_periodista.descripcion}}
          </p>
          <p class="description">Cantidad de noticias ingresadas: {{cantidad_noticias}}</p>
        </div>
      </div>
      <div class="separator"></div>

      <!-- Contenedor de Noticias -->
      <div class="news-container container">
        <!-- Noticia 1-->

        {% for noticia in lista_noticias %}
        <div class="news">
          <a href="{% url 'noticia' noticia.id %}">
            <img class="news-banner" src="{{noticia.portada.url}}" alt=""/>
          </a>
          <div class="news-text">
            <a href="{% url 'noticia' noticia.id %}">
              <h2 class="news-title">{{noticia.titulo}}</h2>
            </a>
            <p class="news-description hide">
              por
              <a href="{% url 'periodista' perfil_periodista.id_usuario.id %}" class="journalist">{{noticia.id_autor.nombre_completo}}</a>
            </p>
            <p class="news-description">{{noticia.fecha}}</p>
          </div>
        </div>
        {% endfor %}

      </div>
    </main>
    {% endblock %}
