{% extends 'core/base.html'%}

{% load static %}

{% block estilo %}
    <link rel="stylesheet" href="{% static 'core/css/periodista.css' %}" />

{% endblock %}

{% block content %}
    <main>
      <div class="container">
        <h1 class="journalist-name">Juan Perez</h1>
      </div>
      <div class="journalist-card container">
        <img src="/img/avatar-periodista.jpg" class="journalist-photo" alt="" />
        <div class="journalist-description">
          <p class="description">
            Periodista del equipo de Investigación en Caos News
          </p>
          <p class="description">Cantidad de noticias ingresadas: 3</p>
        </div>
      </div>
      <div class="separator"></div>

      <!-- Contenedor de Noticias -->
      <div class="news-container container">
        <!-- Noticia 1-->

        <div class="news">
          <a href="{% url 'noticia' %}">
            <img
              class="news-banner"
              src="https://www.24horas.cl/24horas/site/artic/20240401/imag/foto_0000001520240401132113/marcianeke-live-amenazas.jpg"
              alt=""
            />
          </a>
          <div class="news-text">
            <a href="{% url 'noticia' %}">
              <h2 class="news-title">
                "Me quieren pegar un balazo": el live donde Marcianeke denunció
                amenaza
              </h2>
            </a>
            <p class="news-description hide">
              por
              <a href="#" class="journalist"
                >Juan Perez</a
              >
            </p>
            <p class="news-description">Miércoles 27 Marzo, 2024</p>
          </div>
        </div>

      </div>
    </main>
    {% endblock %}
