django
django-crispy-forms
crispy-bootstrap4
pillow
django-recaptcha
requests
psycopg2-binary
djangorestframework
django-admin-confirm
django-axes
reportlab
django-admin-interface
whitenoise
cloudinary
