{% extends 'core/base.html'%}

{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'core/css/lista_noticias_en_espera.css' %}">
{% endblock %}

{% block content %}
  <main>
    <table class="table container">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Título</th>
          <th scope="col">Autor</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Alexis Sánchez marca e Inter de Milán da otro paso al título: la tabla de posiciones de la Serie A de Italia</td>
          <td>Juan Perez</td>
          <td class="link"><a href="{% url 'noticia_en_espera' %}">Ingresar</a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Vallejo lamenta "utilización política" de la oposición tras disparos en Lo Valledor: "Pan de cada día"</td>
          <td>Alicia Gonzales</td>
          <td class="link"><a href="{% url 'noticia_en_espera' %}">Ingresar</a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Arrendador de Marcianeke lo amenaza con pistola para que deje vivienda en Colina: hay tres detenidos</td>
          <td>Roberto Muñoz</td>
          <td class="link"><a href="{% url 'noticia_en_espera' %}">Ingresar</a></td>
        </tr>
      </tbody>
    </table>
  </main>
  {% endblock %}
