{% extends 'core/base.html'%}

{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'core/css/contacto.css' %}">
{% endblock %}

{% block content %}
  <main class="container">
    <h1 class="main-title">Fecha del Mensaje: {{mensaje.fecha}}</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" disabled value="{{mensaje.nombre_completo}}" readonly>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" disabled value="{{mensaje.correo}}" readonly>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Asunto</label>
        <input type="text" class="form-control" id="exampleFormControlInput3" disabled value="{{mensaje.asunto}}" readonly>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" disabled readonly>{{mensaje.mensaje}}</textarea>
      </div>
    </form>
  </main>
  {% endblock %}
