{% extends 'core/base.html'%}

{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'core/css/crear_periodista.css' %}">
{% endblock %}

{% block content %}
  <main>
    <p style="text-align: center; color: red; font-size: 3rem;">{{mensaje}}</p>
    <h1 class="main-title">Creación de cuenta de periodista</h1>
    <form class="container" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="username" required value="{{username}}">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="nombre" required value="{{nombre}}">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="apellido" required value="{{apellido}}">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="descripcion" required value="{{descripcion}}">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail2" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" name="email" required value="{{correo}}">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword3" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword3" name="contrasenia" required>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Foto de perfil</label>
        <input class="form-control" type="file" id="formFile" name="foto_perfil" required>
      </div>
      <div class="g-recaptcha" data-sitekey="6Lekmd8pAAAAACY6pek-W_JctCA3wM3G1qgGw2sU"></div>
      <button type="submit" class="btn btn-primary" style="margin-bottom: 2rem;">Crear cuenta</button>
    </form>
    
  </main>
  {% endblock %}
