.titulo-principal {
    text-align: center;
    margin-bottom: 4rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 20rem;
    text-align: center;
    border: 3px solid #2b3d4f;
    color: white;
    background-color: #2b3d4f;
    margin-bottom: 2rem;
    overflow: hidden;
}

.image-card {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

@media screen and (min-width: 1024px) {
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        margin-right: 2rem;
        flex-shrink: 0;
    }
}