{% extends 'core/base.html'%}

{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'core/css/crear_noticia.css' %}">
{% endblock %}

{% block content %}
  <main>
  <div class="container">
    <p style="text-align: center; color: red; font-size: 3rem;">{{mensaje}}</p>
    <h1 class="main-title">Publicación de noticia.</h1>
    <form action="#" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="notice-form">
        <label for="notice-title" class="form-label subtitle">Título de la noticia</label>
        <input type="text" class="form-control" id="notice-title"
        value="{{noticia.titulo}}" required name="titulo">
      </div>

      <div class="notice-form">
        <label for="notice-location" class="form-label subtitle">Ubicación de la noticia</label>
        <input type="text" class="form-control" id="notice-location" value="{{noticia.ubicacion}}" required name="ubicacion">
      </div>

      <div class="notice-form">
        <h2 class="subtitle">Seleccione la categoría de la noticia</h2>
        <select class="form-select" aria-label="Default select example" required name="categoria">
          <option selected value="0">Seleccione la categoría</option>
          {% for categoria in categorias %}
            <option value="{{categoria.id}}">{{categoria.descripcion}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="notice-form">
        <label for="notice-body" class="form-label">Cuerpo de la noticia</label>
        <textarea class="form-control" id="notice-body" rows="15" required name="cuerpo">{{noticia.cuerpo}}</textarea>
      </div>
      
      <div class="notice-form">
        <label for="formFile" class="form-label">Portada de la noticia (obligatorio)</label>
        <input class="form-control" type="file" id="formFile" required name="portada">
      </div>
      <div class="notice-form">
        <label for="formFileMultiple" class="form-label">Galería de imágenes de la noticia (opcional)</label>
        <input class="form-control" type="file" id="formFileMultiple" multiple name="carrusel">
      </div>

      <div class="buttons-container">
        <input type="submit" class="btn btn-success" value="Editar noticia">
      </div>
    </form>
  </div>
</main>
{% endblock %}
