{% extends 'core/base.html'%}

{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'core/css/lista_noticias_publicadas.css' %}">
{% endblock %}

{% block content %}
  <main>
    <table class="table container">
      <thead>
        <tr>
          <th scope="col">Estado</th>
          <th scope="col">Título</th>
          <th scope="col">Link</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        {% for noticia in lista_noticias %}
          <tr>
            <th scope="row">{{noticia.id_estado_noticia.descripcion}}</th>
            <td>{{noticia.titulo}}</td>
            {% if noticia.id_estado_noticia.id != 3 %}
              <td class="link"><a href="{% url 'editar_noticia' noticia.id %}">Editar</a></td>
              <td class="link"><a style="cursor: pointer;" onclick="eliminarNoticia({{noticia.id}})">Eliminar</a></td>
            {% else %}
              <td class="link" colspan="2"><a href="{% url 'noticia_rechazada' noticia.id %}">Ver motivo</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
