.main-title {
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.donacion {
  background-color: lightgray;
  margin-bottom: 2rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  position: relative;
}

.donacion-imagen {
  position: absolute;
  width: 5rem;
  right: 1rem;
  top: 1rem;
}

@media screen and (min-width: 734px) {
  .donacion-imagen {
    width: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .donacion-imagen {
    width: 20rem;
  }
}